.contact_me {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.contact_me li {
  display: grid;
  place-items: center;
  height: 6rem;
  width: 6rem;
  background-color: var(--main-color);
  border-radius: 1.4rem;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: var(--main-transtion);
}
.contact_me li:hover {
  background-color: transparent;
  border: 2px solid var(--gray-color-100);
}
/* /   */
.contact_me li svg {
  transform: translateY(0.2rem);
}

@media (max-width: 767px) {
  .contact_me {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 1.5rem;
  }
  .contact_me li {
    height: 3rem;
    width: 3rem;
    border-radius: 0.7rem;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  .contact_me li svg {
    transform: translateY(0.1rem);
  }
}
